/* table */
table {
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #BEBEBE;
    padding: 0 5px;
}

/* table of content */
.toc {
  margin: 0 auto;
  width: 100%;
  padding: 0px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}